.jumbotron {
	background: url('/images/bg.jpg') no-repeat center center;
	background-size: cover;
	min-height: 65vh;
}

h1,
h3 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Raleway', sans-serif;
}

.first {
	font-weight: 900;
}

/* Navbar */
.navbarText {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #fff;
}

/* Footer */
main > .container {
	padding: 60px 15px 0;
}

.footer {
	background-color: #ff4949;
	color: #fff;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.ijruLogo {
	width: 75px;
	height: 75px;
}

.amjrfLogo {
	width: 75px;
	height: 75px;
}

/* Coaches */
img {
	float: left;
	margin: 5px 20px 0 0;
	height: 200px;
	width: 142px;
}

.coaches {
	padding-bottom: 20px;
}

/* Contact */
.inner {
	padding-bottom: 20px;
}
